Stronghold/Assets/Scenes/FirstLocationScene/OcclusionCullingData.asset
Stronghold/Library/ArtifactDB
Stronghold/Library/PlayerDataCache/Win64/Data/sharedassets0.assets.resS
Stronghold/Library/EditorInstance.json
Stronghold/Temp/UnityLockfile